doctype html
html(lang="en")
  head

    meta(charset="UTF-8")
    title pomodoro clock
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.css")

  body

    .app-container

      svg(xmlns="http://www.w3.org/2000/svg" width="515" height="515")
        path.circle(stroke="transparent" stroke-width="10" fill="none" d="M255 5c138.07 0 250 111.93 250 250S393.07 505 255 505 5 393.07 5 255 116.93 5 255 5z")

      p.timer-display 0:00

      div
        select
          option(value="5") 5 minutes
          option(value="10") 10 minutes
          option(value="15") 15 minutes
          option(value="20") 20 minutes
          option(value="25") 25 minutes
          option(value="30") 30 minutes

        button#start-button START

    script(src="scripts.js")
