@import url('https://fonts.googleapis.com/css?family=Inconsolata')

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Inconsolata', monospace

body
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background: #f0f0f0

svg
  position: absolute
  top: 0
  left: 0
  z-index: -1

.circle
  position: relative
  animation-name: fill
  animation-duration: 0
  animation-fill-mode: forwards
  animation-timing-function: linear
  animation-play-state: paused
  stroke-dashoffset: -1571
  stroke-dasharray: 1571
  stroke: #000000

@keyframes fill
  0%
    stroke-dashoffset: -1571
  100%
    stroke-dashoffset: 0

.app-container
  position: relative
  height: 500px
  width: 500px
  border-radius: 50%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.timer-display
  margin-bottom: 40px
  font-size: 60px
  color: #000000
  background: #ffffff
  padding: 10px 25px
  border: solid 1px #000000

select
  font-size: 30px
  border: solid 1px #000000
  padding: 10px 15px


#start-button
  font-size: 30px
  border: none
  border: solid 1px #000000
  background: #ffffff
  padding: 10px 15px

@media (max-width: 540px)
  .app-container
    border: none
    background: transparent

  select,
  #start-button
    font-size: 24px

  svg
    display: none
